VAULT_APP_NAME=Vault
VAULT_ENVIRONMENT=development
VAULT_DATABASE_URL=postgresql+psycopg://vault_local:vault_local@localhost:5432/vault_local
VAULT_UPLOAD_DIR=var/uploads

POSTGRES_DB=vault_local
POSTGRES_USER=vault_local
POSTGRES_PASSWORD=vault_local
POSTGRES_PORT=5432
